openapi: 3.2.0
info:
  title: Gainsight PX Custom Events API
  description: Product Experience (PX) API for tracking product usage, user behavior, and in-app engagement analytics. Powered by the Aptrinsic platform.
  version: '1.0'
  contact:
    name: Gainsight Support
    url: https://support.gainsight.com
    email: support@gainsight.com
  termsOfService: https://www.gainsight.com/terms-of-service/
servers:
- url: https://api.aptrinsic.com/v1
  description: Gainsight PX Production API
security:
- apiKey: []
tags:
- name: Custom Events
  description: Send custom events for tracking
paths:
  /custom_events:
    post:
      operationId: sendCustomEvent
      summary: Gainsight Send a custom event
      description: Send a custom event for a user to track specific interactions.
      tags:
      - Custom Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEvent'
      responses:
        '200':
          description: Event sent successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Invalid request body or parameters
    Unauthorized:
      description: Authentication failed or API key is missing
  schemas:
    CustomEvent:
      type: object
      required:
      - identifyId
      - eventName
      properties:
        identifyId:
          type: string
          description: User identification string
        accountId:
          type: string
          description: Account identifier
        eventName:
          type: string
          description: Name of the custom event
        date:
          type: integer
          format: int64
          description: Event timestamp in milliseconds
        attributes:
          type: object
          description: Custom event attributes
        url:
          type: string
          description: URL where the event occurred
        referrer:
          type: string
          description: Referrer URL
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-APTRINSIC-API-KEY
      in: header
      description: Gainsight PX API key
externalDocs:
  description: Gainsight PX API Documentation
  url: https://support.gainsight.com/PX/API_for_Developers/APIs_for_Developers/PX_API
