openapi: 3.2.0
info:
  title: Gainsight PX Feature Match API
  description: Product Experience (PX) API for tracking product usage, user behavior, and in-app engagement analytics. Powered by the Aptrinsic platform.
  version: '1.0'
  contact:
    name: Gainsight Support
    url: https://support.gainsight.com
    email: support@gainsight.com
  termsOfService: https://www.gainsight.com/terms-of-service/
servers:
- url: https://api.aptrinsic.com/v1
  description: Gainsight PX Production API
security:
- apiKey: []
tags:
- name: Feature Match
  description: Track feature usage and adoption
paths:
  /feature_match:
    get:
      operationId: listFeatures
      summary: Gainsight List features
      description: Retrieve tracked features and their adoption metrics.
      tags:
      - Feature Match
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/scrollId'
      responses:
        '200':
          description: Features retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Feature'
                  scrollId:
                    type: string
                  totalHits:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Feature:
      type: object
      properties:
        id:
          type: string
          description: Feature identifier
        name:
          type: string
          description: Feature name
        type:
          type: string
          description: Feature type
        url:
          type: string
          description: URL pattern for the feature
        totalUserCount:
          type: integer
          description: Total users who used this feature
        totalEventCount:
          type: integer
          description: Total usage events for this feature
  parameters:
    scrollId:
      name: scrollId
      in: query
      description: Scroll ID for cursor-based pagination
      schema:
        type: string
    pageSize:
      name: pageSize
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 20
        maximum: 500
  responses:
    Unauthorized:
      description: Authentication failed or API key is missing
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-APTRINSIC-API-KEY
      in: header
      description: Gainsight PX API key
externalDocs:
  description: Gainsight PX API Documentation
  url: https://support.gainsight.com/PX/API_for_Developers/APIs_for_Developers/PX_API
