openapi: 3.2.0
info:
  title: Gainsight PX Subscription API
  description: Product Experience (PX) API for tracking product usage, user behavior, and in-app engagement analytics. Powered by the Aptrinsic platform.
  version: '1.0'
  contact:
    name: Gainsight Support
    url: https://support.gainsight.com
    email: support@gainsight.com
  termsOfService: https://www.gainsight.com/terms-of-service/
servers:
- url: https://api.aptrinsic.com/v1
  description: Gainsight PX Production API
security:
- apiKey: []
tags:
- name: Subscription
  description: Manage event subscriptions
paths:
  /subscriptions:
    get:
      operationId: listSubscriptions
      summary: Gainsight List event subscriptions
      description: Retrieve a list of configured event subscriptions.
      tags:
      - Subscription
      responses:
        '200':
          description: Subscriptions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSubscription
      summary: Gainsight Create an event subscription
      description: Create a new webhook subscription for events.
      tags:
      - Subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionInput'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Invalid request body or parameters
    Unauthorized:
      description: Authentication failed or API key is missing
  schemas:
    Subscription:
      type: object
      properties:
        id:
          type: string
          description: Subscription identifier
        name:
          type: string
          description: Subscription name
        callbackUrl:
          type: string
          format: uri
          description: Webhook callback URL
        eventType:
          type: string
          description: Event type to subscribe to
        active:
          type: boolean
          description: Whether the subscription is active
    SubscriptionInput:
      type: object
      required:
      - name
      - callbackUrl
      - eventType
      properties:
        name:
          type: string
          description: Subscription name
        callbackUrl:
          type: string
          format: uri
          description: Webhook callback URL
        eventType:
          type: string
          description: Event type to subscribe to
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-APTRINSIC-API-KEY
      in: header
      description: Gainsight PX API key
externalDocs:
  description: Gainsight PX API Documentation
  url: https://support.gainsight.com/PX/API_for_Developers/APIs_for_Developers/PX_API
