openapi: 3.2.0
info:
  title: Gainsight PX Engagements API
  description: Product Experience (PX) API for tracking product usage, user behavior, and in-app engagement analytics. Powered by the Aptrinsic platform.
  version: '1.0'
  contact:
    name: Gainsight Support
    url: https://support.gainsight.com
    email: support@gainsight.com
  termsOfService: https://www.gainsight.com/terms-of-service/
servers:
- url: https://api.aptrinsic.com/v1
  description: Gainsight PX Production API
security:
- apiKey: []
tags:
- name: Engagements
  description: Manage in-app engagements
paths:
  /engagements:
    get:
      operationId: listEngagements
      summary: Gainsight List engagements
      description: Retrieve a list of in-app engagements.
      tags:
      - Engagements
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/scrollId'
      responses:
        '200':
          description: Engagements retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Engagement'
                  scrollId:
                    type: string
                  totalHits:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    scrollId:
      name: scrollId
      in: query
      description: Scroll ID for cursor-based pagination
      schema:
        type: string
    pageSize:
      name: pageSize
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 20
        maximum: 500
  schemas:
    Engagement:
      type: object
      properties:
        id:
          type: string
          description: Engagement identifier
        name:
          type: string
          description: Engagement name
        type:
          type: string
          enum:
          - Dialog
          - Slider
          - Guide
          - Tooltip
          - Hotspot
          - Badge
          description: Engagement type
        state:
          type: string
          enum:
          - DRAFT
          - LIVE
          - PAUSED
          - STAGED
          description: Engagement state
        createdDate:
          type: integer
          format: int64
          description: Creation timestamp
  responses:
    Unauthorized:
      description: Authentication failed or API key is missing
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-APTRINSIC-API-KEY
      in: header
      description: Gainsight PX API key
externalDocs:
  description: Gainsight PX API Documentation
  url: https://support.gainsight.com/PX/API_for_Developers/APIs_for_Developers/PX_API
