swagger: '2.0'
info:
  description: >
    <p>Gainsight PX API provides a programmatic (server-based) method to access
    the users, accounts, and events that have been captured by the Gainsight PX
    subscription.  The Gainsight PX REST APIs can be used to perform most
    standard CRUD (Create, Read, Update, Delete) operations on entity (e.g. User
    and Account) objects, create custom events and fetch historical event
    data.</p>

    <table> 

    <tr><th>Data Center</td><th>Base Endpoint</td></tr> 

    <tr><td>US</td><td>https://api.aptrinsic.com/v1</td></tr> 

    <tr><td>EU</td><td>https://api-eu.aptrinsic.com/v1</td></tr> 

    <tr><td>US2</td><td>https://api-us2.aptrinsic.com/v1</td></tr> 

    </table> 

    <h1 class="resourceGroupName">Data Payload</h1>

    <p>The API data (and

    responses) are JSON encoded with UTF-8 as either a single JSON object, or as

    a list of JSON objects.</p>

    <h1 class="resourceGroupName">Authorization</h1>

    <p>Authorization and access to the API is managed via API Keys. The API key
    value is passed on calls by adding a request header with the key
    <i>X-APTRINSIC-API-KEY</i>.</p>

    <h2>Generate API Keys</h2>

    <p>An API Key is required to access the Gainsight PX REST API.</p>

    <p>To generate an API key:</p>

    <p>&nbsp; 1. Navigate to Administration > REST API to access the API Keys
    page.</p>

    <p>&nbsp; 2. Click New API Key. The New API Key window appears. </p>

    <p>&nbsp; 3. Enter the following details:</p>
       <p>&nbsp;&emsp; A. Name: Enter a name for API Key.</p>
       <p>&nbsp;&emsp; B. Description: Enter a description.</p>
       <p>&nbsp;&emsp; C. Permissions:  Configure the following permissions.</p>
         <p>&nbsp;&emsp;&emsp; a. Read: This allows calls to read PX data via GET API calls. </p>
         <p>&nbsp;&emsp;&emsp; b. Write: This allows calls to edit, update and delete PX data via PUT and DELETE API calls.</p>
         <p>&nbsp;&emsp;&emsp; c. Production Launch: This access allows calls to launch engagements in production. </p>
    <p>&nbsp; 4. Click Generate.</li>

    <h1 class="resourceGroupName">Errors</h1>

    <p>Errors are returned with error code and JSON response.

    <h1 class="resourceGroupName">HTTP</h1>

    <ul>
      <li>Requests are sent using HTTPS.</li>
      <li>Methods exposed are based on HTTP Verbs (GET, POST and DELETE).</li>
      <li>Resources are identified using URI’s.</li>
    </ul>

    <h1 class="resourceGroupName">Rate Limiting</h1>

    <p>The rate limit for public REST APIs is around 200 requests per second and
    1 Million requests per day. </span>

    <h1 class="resourceGroupName">Page Handling</h1>

    <ul>
      <li>The default pageSize on list calls (i.e. /users and /accounts) is 25.  The pageSize can be changed by adding a pageSize parameter to the URL (i.e. /users?pageSize=100) with a max pageSize=1000.</li>
      <li>Use the returned scrollId to make a request for the next page of results (i.e. /users?pageSize=100&scrollId=XXXXXXX)</li>
      <li>Scroll until the returned result list is less than the requested size. Do not depend on the scrollId becoming null, in some cases it does not be null even though the last page of results is returned.</li>
    </ul>

    <h1 class="resourceGroupName">Historical Date Range Restrictions</h1>

    <ul>
      <li>For all calls that return historical event information, the maximum date range is 190 days (~ 6 months).</li>
      <li>If no date range is specified, the last 1 day is the default date window.  For quicker response times, it is recommended to use your needed date range and not full 6 months.</li>
      <li>If a date range larger than the maximum is specified, a 400 Bad Request error is thrown, with the message: “Exceeded date range190days”.</li>
      <li>To fetch more than 190 days of data, multiple calls will need to be made for smaller date ranges that are no more than the max allowed.</li>
    </ul>

    <h1 class="resourceGroupName">Case Sensitivity</h1>

    <ul>
      <li>Case sensitivity is enforced when making a call to get user/account by id.  Therefore, .../users/id=nora@example.com will not find a user whose id is Nora@example.com</li>
      <li>Case sensitivity is not enforced when using filters. For example, .../users/filter=id==nora@example.com; will find a user whose id is Nora@example.com.</li>
    </ul>

    <h1 class="resourceGroupName">Getting Started with Postman</h1>

    <p>Click <a
    href='https://storage.googleapis.com/gainsight-px-cloud-public-assets/api/Gainsight_PX_REST_API_v1.2.postman_collection'>here</a>
    to download a Postman collection file containing sample calls that you can
    use to query and test the Gainsight PX REST API. The Postman tool is used to
    test the PX APIs. To use the sample API calls, you must define a Postman
    variable <i>apiKey</i>.  This variable must be set to the PX API key which
    you have generated. This API key is not the same as your Product API
    key.</p>
  version: 0.1.6
  title: Gainsight PX REST API
  contact:
    name: Gainsight PX
    url: 'https://www.gainsight.com/product-experience/'
    email: pxsupport@gainsight.com
  license:
    name: internal
host: api.aptrinsic.com
basePath: /
tags:
  - name: Accounts
    description: Account Operations
  - name: Admin
    description: Admin Model
  - name: Article
    description: Article related endpoints
  - name: Custom events
    description: Custom events operations
  - name: EmailEvent
    description: Email Event Operations
  - name: Engagement
    description: Engagement Operations
  - name: EngagementViewEvent
    description: Engagement View Event Operations
  - name: ExternalSegments
    description: External Segment Operations
  - name: Feature
    description: Feature Operations
  - name: FeatureMatchEvent
    description: Feature Match Event Operations
  - name: FormSubmitEvent
    description: Form Submit Event Operations
  - name: IdentifyEvent
    description: Identify Event Operations
  - name: KCbot
    description: KC Bot related endpoints
  - name: LeadEvent
    description: Lead Event Operations
  - name: Localization
    description: localization
  - name: PageViewEvent
    description: Page View Event Operations
  - name: Segment
    description: Segment Operations
  - name: SegmentMatchEvent
    description: Segment Match Event Operations
  - name: SessionEvent
    description: Session Event Operations
  - name: SurveyResponse
    description: Survey Response Events
  - name: UserPreferences
    description: User Preferences
  - name: UserPreferences V2
    description: >-
      User Preferences Version 2 API. Version 2 has support for new setting
      called 'trackEmailAnalytics' which is to specify whether to track email
      analytics or not for the given user.
  - name: Users
    description: User Operations
schemes:
  - https
paths:
  /v1/accounts:
    get:
      tags:
        - Accounts
      summary: Get accounts
      description: >+
        Retrieves accounts.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/accounts?filter=sicCode==64;numberOfEmployees>25 | Accounts
        with sicCode of 64 and more than 25 employees. |

        | GET
        /v1/accounts?filter=sicCode==64;numberOfEmployees>25&filter=sicCode==63;numberOfEmployees>3000
        | Accounts with: (sicCode of 64 AND more than 25 employees) OR (sicCode
        of 63 AND more than 3000 employees). |

        | GET /v1/accounts?filter=location.cityName==Portland | Accounts with a
        city of 'Portland'. |

        | GET /v1/accounts?filter=customAttributes.internalId==12345 | Accounts
        with a custom attribute of internalId equal to 12345'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/accounts?sort=name;location.stateCode | Accounts sorted by
        name and state code in ascending order. |

        | GET /v1/accounts?sort=-createDate | Accounts sorted by createDate in
        descending order. |

      operationId: getAccountsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of accounts per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort
          required: false
          type: string
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AccountsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
    post:
      tags:
        - Accounts
      summary: Create account
      description: Creates a new account with the given data
      operationId: createAccountUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: account
          description: Account data
          required: true
          schema:
            $ref: '#/definitions/Account'
      responses:
        '201':
          description: Created Account
          schema:
            $ref: '#/definitions/ResponseEntity'
        '400':
          description: 'Bad request, possible duplicate'
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/accounts/update:
    put:
      tags:
        - Accounts
      summary: Update account (accountId passed via request body)
      description: >
        Updates an account with accountId specified in the request body.

        This update method is useful when the account ID contains special
        characters that make it impossible to use the update method with the
        accountId in the request path.
      operationId: updateAccountUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: account
          description: Account data
          required: true
          schema:
            $ref: '#/definitions/Account'
      responses:
        '204':
          description: Updated
          schema:
            $ref: '#/definitions/ResponseEntity'
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/accounts/{accountId}':
    get:
      tags:
        - Accounts
      summary: Get account
      description: Retrieves the account with the given id
      operationId: getAccountUsingGET
      produces:
        - '*/*'
      parameters:
        - name: accountId
          in: path
          description: Account id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Account'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
    put:
      tags:
        - Accounts
      summary: Update account
      description: Updates an account with the given data
      operationId: updateAccountUsingPUT_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: account
          description: Account data
          required: true
          schema:
            $ref: '#/definitions/Account'
        - name: accountId
          in: path
          description: Account id
          required: true
          type: string
      responses:
        '204':
          description: Updated
          schema:
            $ref: '#/definitions/ResponseEntity'
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
    delete:
      tags:
        - Accounts
      summary: Delete account
      description: >
        Deletes Account

        Note: Performs a cascading delete of all users associated with the
        account
      operationId: deleteAccountUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: accountId
          in: path
          description: Account id
          required: true
          type: string
      responses:
        '200':
          description: Deleted
          schema:
            $ref: '#/definitions/ResponseEntity'
        '204':
          description: No Content
          schema:
            $ref: '#/definitions/ResponseEntity'
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/admin/model/{type}/attributes':
    get:
      tags:
        - Admin
      summary: Get Attributes
      description: Retrieves the model attributes for a given type
      operationId: getModelAttributesUsingGET
      produces:
        - '*/*'
      parameters:
        - name: type
          in: path
          description: Type
          required: true
          type: string
          enum:
            - user
            - account
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AttributeMetadata'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Type not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/admin/monitoring/engagement_collisions:
    get:
      tags:
        - Admin
      summary: Get engagement collisions
      description: >+
        Retrieves engagement collision events. Will return one row for each
        engagement collision in the given date range.  Supports filtering and
        paging.

        ### Filtering

        The date range must be less than or equal to 180 days

        Dates are specified as epoch milliseconds, GMT

        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET
        /v1/admin/monitoring/engagement_collisions?dateRangeStart=1670283822000&dateRangeEnd=1672962222000&propertyKey=AP-XXXXXXXXXXX-2
        | Fetches first page of results |

        | GET
        /v1/admin/monitoring/engagement_collisions?dateRangeStart=1670283822000&dateRangeEnd=1672962222000&propertyKey=AP-XXXXXXXXXXX-2&pageNumber=1&scrollId=abcxyz
        | Fetches second page of results |


      operationId: getEngagementCollisionsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: dateRangeEnd
          in: query
          description: Date range end (epoch milliseconds)
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeEnd=1672962222000
        - name: dateRangeStart
          in: query
          description: Date range start (epoch milliseconds)
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeStart=1670283822000
        - name: pageNumber
          in: query
          description: Page Number (zero based)
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of records per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int64
          allowEmptyValue: false
        - name: propertyKey
          in: query
          description: Product Key
          required: false
          type: string
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId. If null, no additional pages are available
          required: false
          type: string
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementCollisionPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/admin/monitoring/engagement_error_details/{engagementId}':
    get:
      tags:
        - Admin
      summary: Get engagement error details
      description: >+
        Retrieves engagement error details. Will return one row for each
        engagement error.

        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET
        /v1/admin/monitoring/engagement_error_details/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx?dateRangeStart=1670283822000&dateRangeEnd=1672962222000&groupByBrowser=true
        | Error details grouped by browser|

        | GET
        /v1/admin/monitoring/engagement_error_details/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx?dateRangeStart=1670283822000&dateRangeEnd=1672962222000&groupByBrowser=false
        | Error details grouped by type|


      operationId: getEngagementErrorDetailsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: dateRangeEnd
          in: query
          description: Date range end (epoch milliseconds)
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeEnd=1672962222000
        - name: dateRangeStart
          in: query
          description: Date range start (epoch milliseconds)
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeStart=1670283822000
        - name: engagementId
          in: path
          description: Engagement id
          required: true
          type: string
        - name: groupByBrowser
          in: query
          description: 'True to group by browser type, false to group by error'
          required: false
          type: boolean
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementErrorDetailsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/admin/monitoring/engagement_errors:
    get:
      tags:
        - Admin
      summary: Get engagement errors summary
      description: >+
        Retrieves engagement error summary. Will return one row for each
        engagement that has errors in the given date range.  Supports filtering
        and paging.

        ### Filtering

        The date range must be less than or equal to 180 days

        Dates are specified as epoch milliseconds, GMT

        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET
        /v1/admin/monitoring/engagement_errors?dateRangeStart=1670283822000&dateRangeEnd=1672962222000&propertyKey=AP-XXXXXXXXXXX-2
        | Fetches first page of results |

        | GET
        /v1/admin/monitoring/engagement_errors?dateRangeStart=1670283822000&dateRangeEnd=1672962222000&propertyKey=AP-XXXXXXXXXXX-2&pageNumber=1&scrollId=abcxyz
        | Fetches second page of results |


      operationId: getEngagementErrorSummariesUsingGET
      produces:
        - '*/*'
      parameters:
        - name: dateRangeEnd
          in: query
          description: Date range end (epoch milliseconds)
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeEnd=1672962222000
        - name: dateRangeStart
          in: query
          description: Date range start (epoch milliseconds)
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeStart=1670283822000
        - name: pageNumber
          in: query
          description: Page Number (zero based)
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of records per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: propertyKey
          in: query
          description: Product Key
          required: false
          type: string
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId. If null, no additional pages are available
          required: false
          type: string
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementErrorSummaryPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/admin/monitoring/integrations:
    get:
      tags:
        - Admin
      summary: Get integration statuses
      description: >+
        Retrieves the current statuses for the configured integrations. Will
        return one row for each integration.

        Example: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/admin/monitoring/integrations | Fetches all integration
        statuses |


      operationId: getIntegrationStatusesUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IntegrationStatusPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/admin/subscription:
    get:
      tags:
        - Admin
      summary: Get Subscription detail
      description: Retrieves Subscription detail for the current sub
      operationId: getDetailUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SubscriptionDetail'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/admin/subscription/users/notSeenAfter:
    get:
      tags:
        - Admin
      summary: Get Subscription users
      description: Retrieves Subscription users
      operationId: getSubscriptionUsersNotSeenAfterUsingGET
      produces:
        - '*/*'
      parameters:
        - name: notSeenAfterTimestamp
          in: query
          description: Not seen after datetime (epoch milliseconds)
          required: true
          type: integer
          format: int64
          allowEmptyValue: false
        - name: pageNumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of users per page
          required: false
          type: integer
          default: 200
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SubscriptionDetail'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/articles:
    get:
      tags:
        - Article
      summary: Get Articles
      description: >+
        Fetch metadata for Articles from your PX Subscription. The API provides
        you with the summary of basic information of each article that makes it
        easy to work with specific data. 


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/articles?pageSize=100 | Get first 100 articles. |

        | GET /v1/articles?pageSize=100&pageNumber=1 | Get next 100 articles. |

        | GET /v1/articles?productId=1234LPSWUBFW | Get Articles of product
        1234LPSWUBFW. |


        <b>Important:</b> The default pageSize on list calls is 200. The
        pageSize can be changed by adding a pageSize parameter to the URL (i.e.
        /v1/articles?pageSize=100) with a max pageSize=500. 


        To fetch a particular page, use the pageNumber parameter (zero based)

      operationId: getArticlesUsingGET
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: 'Number of events per page range[1,500]'
          required: false
          type: integer
          default: 200
          format: int32
          allowEmptyValue: false
        - name: productId
          in: query
          description: Property Group
          required: false
          type: string
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ArticleExternalViewPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/articles/{articleId}':
    get:
      tags:
        - Article
      summary: Get Article
      description: |+
        Retrieves article with the given article Id
        Examples: 

        | URI   | Results  |
        | ----- | -------- |
        | GET /v1/articles/{articleId} | Get article with id {articleId}. |

      operationId: getArticleUsingGET
      produces:
        - application/json
      parameters:
        - name: articleId
          in: path
          description: Article id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ArticleExternalView'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/engagement:
    get:
      tags:
        - Engagement
      summary: Get engagements
      description: >+
        Retrieves engagements. Supports paging.

        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/engagement?pageSize=100 | Get first 100 engagements. |

        | GET /v1/engagement?pageSize=100&pageNumber=1 | Get next 100
        engagements. |

        | GET /v1/engagement?contentTypes=IN_APP_DIALOG,IN_APP_GUIDE | Get
        dialog and guide engagements. |

      operationId: getEngagementsUsingGET
      produces:
        - application/json
      parameters:
        - name: contentTypes
          in: query
          description: Content Types
          required: false
          type: array
          items:
            type: string
            enum:
              - IN_APP_DIALOG
              - IN_APP_CAROUSEL
              - IN_APP_GUIDE
              - IN_APP_NOTIFICATION
              - OUT_BOUND_EMAIL
              - IN_APP_NPS_SURVEY
              - IN_APP_CES_SURVEY
              - IN_APP_RATING_SURVEY
              - IN_APP_BOOLEAN_SURVEY
              - IN_APP_MULTIPLE_QUESTION_SURVEY
              - UNRECOGNIZE
          collectionFormat: multi
          allowEmptyValue: false
          enum:
            - IN_APP_DIALOG
            - IN_APP_CAROUSEL
            - IN_APP_GUIDE
            - IN_APP_NOTIFICATION
            - OUT_BOUND_EMAIL
            - IN_APP_NPS_SURVEY
            - IN_APP_CES_SURVEY
            - IN_APP_RATING_SURVEY
            - IN_APP_BOOLEAN_SURVEY
            - IN_APP_MULTIPLE_QUESTION_SURVEY
            - UNRECOGNIZE
        - name: createdById
          in: query
          description: Created by ID
          required: false
          type: string
          allowEmptyValue: false
        - name: pageNumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 200
          maximum: 500
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/engagement/env:
    put:
      tags:
        - Engagement
      summary: Set engagement environment
      description: >+
        Move engagement between environments.

        ### Parameters

        - engagementId: ID of engagement to be modified

        - env:  Which environment to set the engagement to.  Valid values:
        Production,Stage,QA,Integration (case insensitive)

      operationId: changeEngagementEnvUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: envChangeRequest
          description: Engagement Environment Change Request
          required: true
          schema:
            $ref: '#/definitions/EngagementEnvChangeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementEnvChangeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/engagement/envs:
    put:
      tags:
        - Engagement
      summary: Set engagement environments
      description: >+
        Move engagement between environments.

        ### Parameters

        - engagementId: ID of engagement to be modified

        - envs:  Which environments to set the engagement to.  Valid values:
        Production,Stage,QA,Integration (case insensitive)

      operationId: changeEngagementEnvsUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: envsChangeRequest
          description: Engagement Environments Change Request
          required: true
          schema:
            $ref: '#/definitions/EngagementEnvironmentsChangeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementEnvironmentsChangeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/engagement/extended:
    get:
      tags:
        - Engagement
      summary: Get engagements with list of custom events from rules
      description: >+
        Retrieves engagements with list of custom events that are used in the
        audience rule, either directly or indirectly via a feature match.
        Supports paging.

        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/engagement/extended?pageSize=100 | Get first 100 engagements.
        |

        | GET /v1/engagement/extended?pageSize=100&pageNumber=1 | Get next 100
        engagements. |

        | GET /v1/engagement/extended?contentTypes=IN_APP_DIALOG,IN_APP_GUIDE |
        Get dialog and guide engagements. |

      operationId: getEngagementsExtendedUsingGET
      produces:
        - application/json
      parameters:
        - name: contentTypes
          in: query
          description: Content Types
          required: false
          type: array
          items:
            type: string
            enum:
              - IN_APP_DIALOG
              - IN_APP_CAROUSEL
              - IN_APP_GUIDE
              - IN_APP_NOTIFICATION
              - OUT_BOUND_EMAIL
              - IN_APP_NPS_SURVEY
              - IN_APP_CES_SURVEY
              - IN_APP_RATING_SURVEY
              - IN_APP_BOOLEAN_SURVEY
              - IN_APP_MULTIPLE_QUESTION_SURVEY
              - UNRECOGNIZE
          collectionFormat: multi
          allowEmptyValue: false
          enum:
            - IN_APP_DIALOG
            - IN_APP_CAROUSEL
            - IN_APP_GUIDE
            - IN_APP_NOTIFICATION
            - OUT_BOUND_EMAIL
            - IN_APP_NPS_SURVEY
            - IN_APP_CES_SURVEY
            - IN_APP_RATING_SURVEY
            - IN_APP_BOOLEAN_SURVEY
            - IN_APP_MULTIPLE_QUESTION_SURVEY
            - UNRECOGNIZE
        - name: pageNumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 200
          maximum: 500
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementsWithCustomEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/engagement/metadata/survey:
    get:
      tags:
        - Engagement
      summary: getEngagementViewEvents
      operationId: getEngagementViewEventsUsingGET
      produces:
        - application/json
      parameters:
        - name: engagementId
          in: query
          description: engagementId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResponseEntity'
      deprecated: false
  /v1/engagement/state:
    put:
      tags:
        - Engagement
      summary: Set engagement state
      description: >+
        Pauses or starts an engagement.

        ### Parameters

        - engagementId: ID of engagement to be modified

        - state:  Desired state for engagement (START or PAUSE)

        - envs:  If changing the state to START, list of environments to start
        the engagement on, defaults to [PRODUCTION]

      operationId: changeEngagementStateUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: stateChangeRequest
          description: Engagement State Change Request
          required: true
          schema:
            $ref: '#/definitions/EngagementStateChangeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/engagement/{engagementId}':
    get:
      tags:
        - Engagement
      summary: Get engagement
      description: Retrieves the engagement with the given id
      operationId: getEngagementUsingGET
      produces:
        - application/json
      parameters:
        - name: engagementId
          in: path
          description: Engagement id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Engagement'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
    delete:
      tags:
        - Engagement
      summary: deleteEngagement
      operationId: deleteEngagementUsingDELETE
      produces:
        - application/json
      parameters:
        - name: engagementId
          in: path
          description: engagementId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/custom:
    get:
      tags:
        - Custom events
      summary: Get Custom events
      description: >+
        Retrieves custom events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | eventName |

        | date |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/custom?filter=identifyId==ABC123 | Custom event matches
        for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/custom?sort=-date | Matches sorted by date descending.
        |

      operationId: getCustomEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: dateRangeEnd
          in: query
          description: Date range end
          required: false
          type: string
          allowEmptyValue: false
          x-example: dateRangeEnd=12345678
        - name: dateRangeStart
          in: query
          description: Date range start
          required: false
          type: string
          allowEmptyValue: false
          x-example: dateRangeStart=12345678
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CustomEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
    post:
      tags:
        - Custom events
      summary: Create custom event
      description: Creates custom event with the given data
      operationId: createCustomEventUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: customEvent
          description: Custom event data
          required: true
          schema:
            $ref: '#/definitions/CustomEvent'
      responses:
        '201':
          description: Create custom events
          schema:
            $ref: '#/definitions/ResponseEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal error
      deprecated: false
  /v1/events/email:
    get:
      tags:
        - EmailEvent
      summary: Get Email events
      description: >+
        Retrieves Email events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | date |

        | email |

        | engagementId |

        | emailTrackType |

        | executionDate |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/email?filter=identifyId==ABC123 | Email event matches
        for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/email?sort=-date | Matches sorted by date descending. |

      operationId: getEmailEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EmailEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/engagementView:
    get:
      tags:
        - EngagementViewEvent
      summary: Get Engagement View events
      description: >+
        Retrieves Engagement View events.  Supports filtering, sorting and
        paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | accountId |

        | date |

        | contentType |

        | carouselState |

        | guideState |

        | surveyState |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/engagementView?filter=identifyId==ABC123 | Engagement
        View event matches for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/engagementView?sort=-date | Matches sorted by date
        descending. |

      operationId: getEngagementViewEventsUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EngagementAllTypesViewEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/feature_match:
    get:
      tags:
        - FeatureMatchEvent
      summary: Get feature match events
      description: >+
        Retrieves feature match events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | featureId  |

        | identifyId (equality only) |

        | accountId |

        | date |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/feature_match?filter=identifyId==ABC123 | Feature
        matches for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/feature_match?sort=-accountId | Matches sorted by
        accountId descending. |

      operationId: getFeatureMatchEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FeatureMatchEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/formSubmit:
    get:
      tags:
        - FormSubmitEvent
      summary: Get formSubmit events
      description: >+
        Retrieves Form Submit events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | accountId |

        | date |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/formSubmit?filter=identifyId==ABC123 | Form Submit
        event matches for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/formSubmit?sort=-date | Matches sorted by date
        descending. |

      operationId: getFormSubmitEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FormSubmitEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/identify:
    get:
      tags:
        - IdentifyEvent
      summary: Get Identify events
      description: >+
        Retrieves Identify events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | email |

        | date |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/identify?filter=identifyId==ABC123 | Identify event
        matches for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/identify?sort=-date | Matches sorted by date
        descending. |

      operationId: getIdentifyEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentifyEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/lead:
    get:
      tags:
        - LeadEvent
      summary: Get Lead events
      description: >+
        Retrieves Lead events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | email |

        | date |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/lead?filter=identifyId==ABC123 | Lead event matches for
        user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/lead?sort=-date | Matches sorted by date descending. |

      operationId: getLeadEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LeadEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/pageView:
    get:
      tags:
        - PageViewEvent
      summary: Get Page View events
      description: >+
        Retrieves Page View events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | accountId |

        | date |

        | path |

        | queryString |

        | pageTitle |

        | host |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/pageView?filter=identifyId==ABC123 | Identify event
        matches for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/identify?sort=-date | Matches sorted by date
        descending. |

      operationId: getPageViewEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageViewEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/segment_match:
    get:
      tags:
        - SegmentMatchEvent
      summary: Get segment match events
      description: >+
        Retrieves segment match events.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | segmentId  |

        | identifyId (equality only) |

        | accountId |

        | date |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/segment_match?filter=identifyId==ABC123 | Segment
        matches for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/segment_match?sort=-accountId | Matches sorted by
        accountId descending. |

      operationId: getSegmentMatchEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SegmentMatchEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/events/session:
    get:
      tags:
        - SessionEvent
      summary: Get Session events
      description: >+
        Retrieves Session Initialized events.  Supports filtering, sorting and
        paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | accountId |

        | date |


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

        | == | Exact match |

        | != | Not equal |

        | &lt;  | Less than |

        | &lt;= | Less than or equal |

        | &gt;  | Greater than |

        | &gt;= | Greater than or equal |

        | ~  | Matches string, supports wildcard characters * and ? |

        | !~ | Not like, supports wildcard characters * and ? |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/session?filter=identifyId==ABC123 | Session event
        matches for user with identifyId of 'ABC123'. |



        ### Sorting

        The sort parameter accepts a list of semi-colon separated fields names,
        each with an optional dash to imply descending sort order.

        #### Supported sort fields

        | Field   |

        | ----- |

        | accountId |

        | date |


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/events/session?sort=-date | Matches sorted by date descending.
        |

      operationId: getSessionInitializedEventsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: filter
          in: query
          description: Filters
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 1000
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: scrollId
          in: query
          description: >-
            Used for fetching subsequent pages after the first one.  Returned in
            response.scrollId
          required: false
          type: string
          allowEmptyValue: false
        - name: sort
          in: query
          description: Sort fields
          required: false
          type: string
          allowEmptyValue: false
          x-example: sort=-date;accountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SessionInitializedEventsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/external_segment/metadata:
    post:
      tags:
        - ExternalSegments
      summary: createExternalSegment
      operationId: createExternalSegmentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: externalSegmentDto
          description: externalSegmentDto
          required: true
          schema:
            $ref: '#/definitions/ExternalSegmentDto'
        - name: failIfExists
          in: query
          description: failIfExists
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExternalSegmentDto'
      deprecated: false
    put:
      tags:
        - ExternalSegments
      summary: updateExternalSegment
      operationId: updateExternalSegmentUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: externalSegmentDto
          description: externalSegmentDto
          required: true
          schema:
            $ref: '#/definitions/ExternalSegmentDto'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExternalSegmentDto'
      deprecated: false
  /v1/external_segment/update_membership:
    post:
      tags:
        - ExternalSegments
      summary: Update External Segment membership
      description: Updates External Segment membership
      operationId: updateMembershipUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: segmentPayload
          description: Segment Payload
          required: true
          schema:
            $ref: '#/definitions/SegmentPayload'
      responses:
        '200':
          description: Success
        '400':
          description: 'Bad request, possible duplicate'
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/feature:
    get:
      tags:
        - Feature
      summary: Get features
      description: >+
        Retrieves features. Supports paging.

        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/feature?pageSize=100 | Get first 100 features. |

        | GET /v1/feature?pageSize=100&pageNumber=1 | Get next 100 features. |

        | GET /v1/feature?propertyKey=AP-XXXXXXXX-2-1 | Get features for given
        property key |

      operationId: getFeaturesUsingGET
      produces:
        - '*/*'
      parameters:
        - name: pageNumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of events per page
          required: false
          type: integer
          default: 25
          maximum: 200
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
        - name: propertyKey
          in: query
          description: Property Key
          required: false
          type: string
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FeaturesPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/feature/adoption/{featureId}':
    get:
      tags:
        - Feature
      summary: Get feature adoption statistics
      description: >-
        Retrieves the feature adoption numbers for a specific feature and date
        range. If dateRangeEnd is not specified, defaults to the current time. 
        Max date range is 7 days.
      operationId: getFeatureAdoptionUsingGET
      produces:
        - '*/*'
      parameters:
        - name: dateRangeEnd
          in: query
          description: Date range end
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeEnd=1674651841000
        - name: dateRangeStart
          in: query
          description: Date range start
          required: false
          type: integer
          format: int64
          allowEmptyValue: false
          x-example: dateRangeStart=1674651841000
        - name: featureId
          in: path
          description: Feature id
          required: true
          type: string
        - name: propertyKey
          in: query
          description: Property Key
          required: false
          type: string
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Feature'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Feature not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/feature/backfill/{featureId}':
    post:
      tags:
        - Feature
      summary: Request backfill for feature
      description: >
        Requests that PX begin a backfill operation for the feature with the
        given ID
      operationId: backfillFeatureUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: featureId
          in: path
          description: Feature id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseEntity'
        '204':
          description: No Content
          schema:
            $ref: '#/definitions/ResponseEntity'
        '401':
          description: Unauthorized or bad API Key
        '403':
          description: Forbidden
        '404':
          description: Feature not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/feature/{featureId}':
    get:
      tags:
        - Feature
      summary: Get feature
      description: Retrieves the feature with the given id
      operationId: getFeatureUsingGET
      produces:
        - '*/*'
      parameters:
        - name: featureId
          in: path
          description: Feature id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Feature'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Feature not found
        '429':
          description: Rate limit exceeded
      deprecated: false
    put:
      tags:
        - Feature
      summary: Update feature
      description: |+
        Updates a feature with the given data
         Does not support editing labels
        Supported Fields:

        | FieldName  |
        | ----- |
        | name |
        | parentFeatureId (use "ROOT" to move to base of feature tree |

      operationId: updateFeatureUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: feature
          description: Feature data
          required: true
          schema:
            $ref: '#/definitions/Feature'
        - name: featureId
          in: path
          description: Feature id
          required: true
          type: string
      responses:
        '204':
          description: Updated
          schema:
            $ref: '#/definitions/ResponseEntity'
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Feature not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/kcbot:
    get:
      tags:
        - KCbot
      summary: Get KC Bots
      description: >+
        Fetch metadata for KC Bots from your PX Subscription. The API provides
        you with the summary of basic information of each KC Bot that makes it
        easy to work with specific data.


        Examples: 


        | URI   | Results  |

        | ----- | -------- |

        | GET /v1/kcbot?pageSize=100 | Get first 100 KcBots. |

        | GET /v1/kcbot?pageSize=100&pageNumber=1 | Get next 100 KcBots. |

        | GET /v1/kcbot?productId=1234LPSWUBFW | Get KcBots of product
        1234LPSWUBFW. |


        <b>Important:</b> The default pageSize on list calls is 200. The
        pageSize can be changed by adding a pageSize parameter to the URL (i.e.
        /v1/kcbot?pageSize=100) with a max pageSize=500. 


        To fetch a particular page, use the pageNumber parameter (zero based)

      operationId: getKcBotsUsingGET
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: 'Number of events per page range[1,500]'
          required: false
          type: integer
          default: 200
          format: int32
          allowEmptyValue: false
        - name: productId
          in: query
          description: Property Group
          required: false
          type: string
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KnowledgeCenterExternalViewPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/kcbot/state:
    put:
      tags:
        - KCbot
      summary: Set KC state
      description: >+
        Pauses or starts a KC.

        ### Parameters

        - kcId: ID of kc to be modified

        - state:  Desired state for kc (START or PAUSE)

        - envs:  If changing the state to START, list of environments to start
        the engagement on, defaults to [PRODUCTION]

      operationId: changeEngagementStateUsingPUT_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: stateChangeRequest
          description: KC State Change Request
          required: true
          schema:
            $ref: '#/definitions/KCExternalStateChangeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/kcbot/{kcId}':
    get:
      tags:
        - KCbot
      summary: Get KC Bot
      description: |+
        Retrieves a KC Bot with the given Id

        Examples: 

        | URI   | Results  |
        | ----- | -------- |
        | GET /v1/kcbot/{kcId} | Get kc with id {kcId}. |

      operationId: getKcBotWithIdUsingGET
      produces:
        - application/json
      parameters:
        - name: kcId
          in: path
          description: KC Bot id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/KnowledgeCenterExternalView'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/localization/export/articles:
    get:
      tags:
        - Localization
      summary: export XLIFF for articles
      description: retrieve the xliff file by filters in zip
      operationId: exportXLIFFForArticlesUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: query
          description: id
          required: true
          type: string
        - name: strategy
          in: query
          description: strategy
          required: false
          type: string
        - name: translated
          in: query
          description: translated
          required: false
          type: boolean
          default: true
        - name: trgLang
          in: query
          description: trgLang
          required: false
          type: string
        - name: version
          in: query
          description: version
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
            format: byte
        '400':
          description: localization is disabled
        '435':
          description: article not found
        '436':
          description: article has no content
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/localization/export/content:
    get:
      tags:
        - Localization
      summary: export XLIFF
      description: retrieve Content Library Entry xliff file by filters in zip
      operationId: exportContentXLIFFUsingGET
      produces:
        - '*/*'
      parameters:
        - name: contentId
          in: query
          description: contentId
          required: true
          type: string
        - name: strategy
          in: query
          description: strategy
          required: false
          type: string
        - name: translated
          in: query
          description: translated
          required: false
          type: boolean
          default: true
        - name: trgLang
          in: query
          description: trgLang
          required: false
          type: string
        - name: type
          in: query
          description: type
          required: true
          type: string
          enum:
            - GUIDE
            - ANNOUNCEMENT
            - SLIDER
            - LINK
            - BOOLEAN_SURVEY
            - RATING_SURVEY
            - NPS_SURVEY
            - CES_SURVEY
            - MULTIPLE_QUESTION_SURVEY
            - ARTICLE
            - KNOWLEDGE_BASE_ARTICLE
            - CUSTOM_LINK
            - FUNC_CALL
            - COMMUNITY
        - name: version
          in: query
          description: version
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
            format: byte
        '400':
          description: localization is disabled
        '435':
          description: Entry not found
        '436':
          description: Entry has no content
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/localization/export/engagement:
    get:
      tags:
        - Localization
      summary: export XLIFF
      description: retrieve the engagement xliff file by filters in zip
      operationId: exportXLIFFForEngagementUsingGET
      produces:
        - '*/*'
      parameters:
        - name: draft
          in: query
          description: draft
          required: false
          type: boolean
          default: false
        - name: id
          in: query
          description: id
          required: true
          type: string
        - name: strategy
          in: query
          description: strategy
          required: false
          type: string
        - name: translated
          in: query
          description: translated
          required: false
          type: boolean
          default: true
        - name: trgLang
          in: query
          description: trgLang
          required: false
          type: string
        - name: version
          in: query
          description: version
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
            format: byte
        '400':
          description: localization is disabled
        '435':
          description: engagement not found
        '436':
          description: engagement has no content
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/localization/export/kcbot:
    get:
      tags:
        - Localization
      summary: export XLIFF
      description: retrieve the kcbot xliff file by filters in zip
      operationId: exportKCXLIFFUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: query
          description: id
          required: true
          type: string
        - name: kcVersion
          in: query
          description: kcVersion
          required: false
          type: string
          default: v1
        - name: strategy
          in: query
          description: strategy
          required: false
          type: string
        - name: translated
          in: query
          description: translated
          required: false
          type: boolean
          default: true
        - name: trgLang
          in: query
          description: trgLang
          required: false
          type: string
        - name: version
          in: query
          description: version
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
            format: byte
        '400':
          description: localization is disabled
        '435':
          description: KCBot not found
        '436':
          description: KCBot has no content
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/localization/import/articles:
    post:
      tags:
        - Localization
      summary: import XLIFF
      description: import XLIFF content into article translation
      operationId: importXLIFFForArticlesUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - name: file
          in: formData
          description: file
          required: true
          type: file
      responses:
        '200':
          description: OK
        '201':
          description: created
        '400':
          description: trgLang equals srcLang
        '432':
          description: xliff parser error
        '433':
          description: article id not found in xliff file
        '434':
          description: target language is not support by subscription
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/localization/import/content:
    post:
      tags:
        - Localization
      summary: import XLIFF
      description: import XLIFF content into Content Library Entry translation
      operationId: importXLIFFForContentEntryUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - name: contentId
          in: query
          description: contentId
          required: true
          type: string
        - name: file
          in: formData
          description: file
          required: true
          type: file
      responses:
        '200':
          description: OK
        '201':
          description: created
        '400':
          description: trgLang equals srcLang
        '432':
          description: xliff parser error
        '433':
          description: content id not found in xliff file
        '434':
          description: target language is not support by subscription
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/localization/import/engagement:
    post:
      tags:
        - Localization
      summary: import XLIFF
      description: import XLIFF content into engagement translation
      operationId: importXLIFFForEngagementUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - name: file
          in: formData
          description: file
          required: true
          type: file
      responses:
        '200':
          description: OK
        '201':
          description: created
        '400':
          description: trgLang is empty
        '432':
          description: xliff parser error
        '433':
          description: engagement id not found in xliff file
        '434':
          description: target language is not support by subscription
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/localization/import/kcbot:
    post:
      tags:
        - Localization
      summary: import XLIFF
      description: import XLIFF content into kc translation
      operationId: importXLIFFForKCUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - name: file
          in: formData
          description: file
          required: true
          type: file
        - name: kcVersion
          in: query
          description: kcVersion
          required: false
          type: string
          default: v1
      responses:
        '200':
          description: OK
        '201':
          description: created
        '400':
          description: trgLang equals srcLang
        '432':
          description: xliff parser error
        '433':
          description: kc id not found in xliff file
        '434':
          description: target language is not support by subscription
        '437':
          description: strategy is not valid
        '438':
          description: xliff version is not supported
      deprecated: false
  /v1/segment:
    get:
      tags:
        - Segment
      summary: Get segments
      description: |+
        Retrieves segments. Supports paging.
        Examples: 

        | URI   | Results  |
        | ----- | -------- |
        | GET /v1/segment?pageSize=100 | Get first 100 segments. |
        | GET /v1/segment?pageSize=100&pageNumber=1 | Get next 100 segments. |

      operationId: getSegmentsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: pageNumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
        - name: pageSize
          in: query
          description: Number of segments per page
          required: false
          type: integer
          default: 25
          maximum: 200
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SegmentsPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '429':
          description: Rate limit exceeded
      deprecated: false
  '/v1/segment/{segmentId}':
    get:
      tags:
        - Segment
      summary: Get segment
      description: Retrieves the segment with the given id
      operationId: getSegmentUsingGET
      produces:
        - '*/*'
      parameters:
        - name: segmentId
          in: path
          description: Segment id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Segment'
        '400':
          description: Bad request
        '401':
          description: Unauthorized or bad API Key
        '404':
          description: Account not found
        '429':
          description: Rate limit exceeded
      deprecated: false
  /v1/survey/responses:
    get:
      tags:
        - SurveyResponse
      summary: Get Survey responses
      description: >+
        Retrieves Survey responses.  Supports filtering, sorting and paging.

        ### Filtering

        The filter parameter accepts a list of semicolon-separated filters in
        the form: {fieldName}{operator}{fieldValue}

        Filter terms within a single filter parameter are joined by a logical
        AND. 

        Separate filter parameters are joined by a logical OR.

        #### Supported filter fields

        | Field   |

        | ----- |

        | identifyId |

        | accountId |

        | date (as epoch milliseconds value)|

        | contentType
        (IN_APP_SURVEY_NPS,IN_APP_SURVEY_CES,IN_APP_SURVEY_BOOLEAN,IN_APP_SURVEY_RATING,
        IN_APP_MULTIPLE_QUESTION_SURVEY)|


        #### Operators

        | Operator   | Meaning  |

        | ----- | -------- |

[...]
