openapi: 3.2.0
info:
  title: Gainsight REST Reports API
  description: The Gainsight REST API allows developers to integrate customer success data, automate workflows, and build custom applications on top of the Gainsight platform. Provides access to core Gainsight objects and operations.
  version: '1.0'
  contact:
    name: Gainsight Support
    url: https://support.gainsight.com
    email: support@gainsight.com
  termsOfService: https://www.gainsight.com/terms-of-service/
servers:
- url: https://api.gainsight.com
  description: Gainsight Production API
security:
- apiKey: []
tags:
- name: Reports
  description: Run reports and retrieve analytics data
paths:
  /v1/reports:
    post:
      operationId: runReport
      summary: Gainsight Run a report
      description: Execute a report query against Gainsight data.
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reportId:
                  type: string
                  description: ID of the report to execute
                filters:
                  type: object
                  description: Optional filters to apply
      responses:
        '200':
          description: Report data returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                  data:
                    type: object
                    properties:
                      records:
                        type: array
                        items:
                          type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failed or access key is missing
  securitySchemes:
    apiKey:
      type: apiKey
      name: accessKey
      in: header
      description: Gainsight REST API access key
externalDocs:
  description: Gainsight API Documentation
  url: https://support.gainsight.com/PX/API_for_Developers
