openapi: 3.2.0
info:
  title: Gainsight PX Accounts API
  description: Product Experience (PX) API for tracking product usage, user behavior, and in-app engagement analytics. Powered by the Aptrinsic platform.
  version: '1.0'
  contact:
    name: Gainsight Support
    url: https://support.gainsight.com
    email: support@gainsight.com
  termsOfService: https://www.gainsight.com/terms-of-service/
servers:
- url: https://api.aptrinsic.com/v1
  description: Gainsight PX Production API
security:
- apiKey: []
tags:
- name: Accounts
  description: Manage account records and attributes
paths:
  /accounts:
    get:
      operationId: listAccounts
      summary: Gainsight List accounts
      description: Retrieve a paginated list of accounts in Gainsight PX.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/scrollId'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          description: Accounts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  scrollId:
                    type: string
                  totalHits:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAccount
      summary: Gainsight Create or update an account
      description: Create a new account or update an existing account.
      tags:
      - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInput'
      responses:
        '200':
          description: Account created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /accounts/{accountId}:
    get:
      operationId: getAccount
      summary: Gainsight Get an account
      description: Retrieve a specific account by ID.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Account details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAccount
      summary: Gainsight Update an account
      description: Update specific attributes of an account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInput'
      responses:
        '200':
          description: Account updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAccount
      summary: Gainsight Delete an account
      description: Delete an account from Gainsight PX.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/accountId'
      responses:
        '204':
          description: Account deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: Invalid request body or parameters
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication failed or API key is missing
  schemas:
    AccountInput:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Unique account identifier
        name:
          type: string
          description: Account name
        trackedSubscriptionId:
          type: string
          description: Tracked subscription ID
        sfdcId:
          type: string
          description: Salesforce account ID
        plan:
          type: string
          description: Account plan or tier
        customAttributes:
          type: object
          description: Custom account attributes
    Account:
      type: object
      properties:
        id:
          type: string
          description: Account unique identifier
        name:
          type: string
          description: Account name
        trackedSubscriptionId:
          type: string
          description: Tracked subscription ID
        sfdcId:
          type: string
          description: Salesforce account ID
        lastSeenDate:
          type: integer
          format: int64
          description: Last seen timestamp
        dupisBuyer:
          type: boolean
          description: Whether the account is a buyer
        numberOfUsers:
          type: integer
          description: Number of users in the account
        numberOfVisits:
          type: integer
          description: Total visits from the account
        plan:
          type: string
          description: Account plan or tier
        customAttributes:
          type: object
          description: Custom account attributes
  parameters:
    filter:
      name: filter
      in: query
      description: Filter expression for results
      schema:
        type: string
    scrollId:
      name: scrollId
      in: query
      description: Scroll ID for cursor-based pagination
      schema:
        type: string
    accountId:
      name: accountId
      in: path
      required: true
      description: Unique account identifier
      schema:
        type: string
    pageSize:
      name: pageSize
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 20
        maximum: 500
    sort:
      name: sort
      in: query
      description: Sort field and direction (e.g., lastSeenDate:desc)
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-APTRINSIC-API-KEY
      in: header
      description: Gainsight PX API key
externalDocs:
  description: Gainsight PX API Documentation
  url: https://support.gainsight.com/PX/API_for_Developers/APIs_for_Developers/PX_API
